<link href="images/skin.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" /><style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #EEF2FB;
}
-->
</style>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="17" valign="top" background="images/mail_leftbg.gif"><img src="images/left-top-right.gif" width="17" height="29" /></td>
    <td valign="top" background="images/content-bg.gif"><table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" class="left_topbg" id="table2">
      <tr>
        <td height="31"><div class="titlebt">欢迎界面</div></td>
      </tr>
    </table></td>
    <td width="16" valign="top" background="images/mail_rightbg.gif"><img src="images/nav-right-bg.gif" width="16" height="29" /></td>
  </tr>
  <tr>
    <td valign="middle" background="images/mail_leftbg.gif">&nbsp;</td>
    <td valign="top" bgcolor="#F7F8F9"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2" valign="top">&nbsp;</td>
        <td>&nbsp;</td>
        <td valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><span class="left_bt">感谢您使用 武汉乐点创意科技有限公司 网站管理系统程序</span><br>
              <br>
            <span class="left_txt">&nbsp;<img src="images/ts.gif" width="16" height="16"> 提示：<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您现在使用的是武汉乐点创意科技有限公司提供的后台管理系统！如果您有任何疑问请拨打客服热线</span><span class="left_ts">027-67886151</span><span class="left_txt">进行咨询！<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;乐点创意，用心缔造网络经典体验，建最好的网站，为客户实现更高的网络应用价值，不断创新，不断追求，为您提供最优质的服务！
<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;专注客户价值的实现，为您实现卓越!　 <br>
</span></td>
        <td width="7%">&nbsp;</td>
        <td width="40%" valign="top"><table width="100%" height="144" border="0" cellpadding="0" cellspacing="0" class="line_table">
          <tr>
            <td width="7%" height="27" background="images/news-title-bg.gif"><img src="images/news-title-bg.gif" width="2" height="27"></td>
            <td width="93%" background="images/news-title-bg.gif" class="left_bt2">成功案例</td>
          </tr>
          <tr>
            <td height="20" valign="top"></td>
            <td height="20" valign="top"><span class="left_txt">一、教育网站&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;成功教育</span>&nbsp;<span class="left_ts">http://www.8cx8.com</span></td>
           </tr>
           <tr>
           	<td height="20" valign="top"></td>
            <td height="20" valign="top"><span class="left_txt">二、外卖网站&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随时有</span>&nbsp;<span class="left_ts">http://www.suishijiuyou.com</span></td>
          </tr>
           <tr>
           	<td height="20" valign="top"></td>
            <td height="20" valign="top"><span class="left_txt">三、企业网站&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长乐众合</span>&nbsp;<span class="left_ts">http://www.51mmg.net/</span></td>
          </tr>
          <tr>
            <td height="5" colspan="2">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><!--JavaScript部分-->
              <SCRIPT language=javascript>
function secBoard(n)
{
for(i=0;i<secTable.cells.length;i++)
secTable.cells[i].className="sec1";
secTable.cells[n].className="sec2";
for(i=0;i<mainTable.tBodies.length;i++)
mainTable.tBodies[i].style.display="none";
mainTable.tBodies[n].style.display="block";
}
          </SCRIPT>
              <!--HTML部分-->
              <TABLE width=72% border=0 cellPadding=0 cellSpacing=0 id=secTable>
                <TBODY>
                  <TR align=middle height=20>
                    <TD align="center" class=sec2 onclick=secBoard(0)>网页设计</TD>
                    <TD align="center" class=sec1 onclick=secBoard(1)>网络推广</TD>
                    <TD align="center" class=sec1 onclick=secBoard(2)>域名注册</TD>
                    <TD align="center" class=sec1 onclick=secBoard(3)>虚拟主机</TD>
                  </TR>
                </TBODY>
              </TABLE>
          <TABLE class=main_tab id=mainTable cellSpacing=0
cellPadding=0 width=100% border=0>
                <!--关于TBODY标记-->
                <TBODY style="DISPLAY: block">
                  <TR>
                    <TD vAlign=top align=middle><TABLE width=98% height="133" border=0 align="center" cellPadding=0 cellSpacing=0>
                        <TBODY>
                          <TR>
                            <TD height="5" colspan="3"></TD>
                          </TR>
                          <TR>
                            <TD width="4%" height="28" background="images/news-title-bg.gif"></TD>
                            <TD height="25" colspan="2" background="images/news-title-bg.gif" class="left_ts">关于网页设计<font color="#FFFFFF" class="left_ts"><b></b></TD>
                          </TR>
                          <TR>
                            <TD bgcolor="#FAFBFC">&nbsp;</TD>
                                <span class="left_ts"> </span></TD>
                            <TD height="25" bgcolor="#FAFBFC"><span class="left_txt">网页设计作为一种视觉语言，特别讲究编排和布局，版式设计通过文字图形的空间组合，表达出和谐与美。一个网站的每个网页的页面效果是最重要的。我们会根据客户提出的需求方案或草图，或者客户提供的参考风格进行主页制作与整体效果的设计，追求创造是我们的宗旨，我们将以一种追求完美的精神以新颖的创意，精细的创作，为您创造网络的天空。
           </span>
                               
                                <span class="left_ts"> </span></TD>
                          </TR>
                          <TR>
                            <TD height="5" colspan="3"></TD>
                          </TR>
                        </TBODY>
                    </TABLE></TD>
                  </TR>
                </TBODY>
                <!--关于cells集合-->
                <TBODY style="DISPLAY: none">
                  <TR>
                    <TD vAlign=top align=middle><TABLE width=98% height="133" border=0 align="center" cellPadding=0 cellSpacing=0>
                        <TBODY>
                          <TR>
                            <TD height="5" colspan="3"></TD>
                          </TR>
                          <TR>
                            <TD width="4%" height="28" background="images/news-title-bg.gif"></TD>
                            <TD colspan="2" background="images/news-title-bg.gif" class="left_ts">关于网页推广</TD>
                          </TR>
                          <TR>
                            <TD bgcolor="#FAFBFC">&nbsp;</TD>
                            <TD width="42%" height="25" bgcolor="#FAFBFC"></span><span class="left_txt">以互联网为主要手段进行的，为达到一定营销目的的推广活动,将网站推广到国内各大知名网站和搜索引擎。一个新的网站建成之后，还应该进行推广，让客户知道你的网站，这样才能够把您的信息推广到您的受众目标。乐点科技有网站推广的业务，主要是搜索引擎的优化，让您的网站在各种搜索引擎中占据有利的位置，让您的一些准客户或是潜在的客户很容易搜索到您。让您通过互联网获得最大的效益。</span></TD>
                          </TR>
                          <TR>
                            <TD height="5" colspan="3"></TD>
                          </TR>
                        </TBODY>
                    </TABLE></TD>
                  </TR>
                </TBODY>
                <!--关于tBodies集合-->
                <TBODY style="DISPLAY: none">
                  <TR>
                    <TD vAlign=top align=middle><TABLE width=98% border=0 align="center" cellPadding=0 cellSpacing=0>
                        <TBODY>
                          <TR>
                            <TD colspan="3"></TD>
                          </TR>
                          <TR>
                            <TD height="5" colspan="3"></TD>
                          </TR>
                          <TR>
                            <TD width="4%" height="25" background="images/news-title-bg.gif"></TD>
                            <TD height="25" colspan="2" background="images/news-title-bg.gif" class="left_ts"><span class="TableRow2">域名注册</TD>
                          </TR>
                          <TR>
                            <TD height="25" bgcolor="#FAFBFC">&nbsp;</TD>
                            <TD width="42%" height="25" bgcolor="#FAFBFC"><span class="left_txt">域名注册是Internet中用于解决地址对应问题的一种方法。域名注册遵循先申请先注册原则，每个域名都是独一无二的，价格不等。乐点科技为您提供域名注册的服务。域名注册的流程：域名查询，确定您的域名没有被抢注；下载域名注册表，据实填写；返回表单，将填好的表单以Email或传真的方式传给我；确认申请，我们收到表单会以电话的方式联系您；开通使用，客户付款后十分钟开通域名，域名在二十四小时内解析完成并生效。详情请咨询客服。
</span></TD>
                          </TR>
                          <TR>
                            <TD height="5" colspan="3"></TD>
                          </TR>
                        </TBODY>
                    </TABLE></TD>
                  </TR>
                </TBODY>
                <!--关于display属性-->
                <TBODY style="DISPLAY: none">
                  <TR>
                    <TD vAlign=top align=middle><TABLE width=98% border=0 align="center" cellPadding=0 cellSpacing=0>
                        <TBODY>
                          <TR>
                            <TD colspan="3"></TD>
                          </TR>
                          <TR>
                            <TD height="5" colspan="3"></TD>
                          </TR>
                          <TR>
                            <TD width="4%" background="images/news-title-bg.gif"></TD>
                            <TD width="91%" background="images/news-title-bg.gif" class="left_ts">关于虚拟主机</TD>
                          </TR>
                          <TR>
                            <TD bgcolor="#FAFBFC">&nbsp;</TD>
                            <TD bgcolor="#FAFBFC" class="left_txt">把一台运行在互联网上的服务器划分成多个"虚拟"的服务器，每一个虚拟主机都具有独立的域名和完整的Internet服务器（支持WWW、FTP、E-mail等）功能。选择一个好的虚拟主机，也就是为您的站点选择一个好的放置环境。乐点科技与多家专业的虚拟主机服务商合作，为客户提供优质的、适合您的虚拟主机，多款套餐供您选择，达到客户的百分百满意。
</TD>
                            <TD bgcolor="#FAFBFC" class="left_txt">&nbsp;</TD>
                          </TR>
                          <TR>
                            <TD height="5" colspan="3"></TD>
                          </TR>
                        </TBODY>
                    </TABLE></TD>
                  </TR>
                </TBODY>
            </TABLE></td>
        <td>&nbsp;</td>
        <td valign="top"><table width="100%" height="144" border="0" cellpadding="0" cellspacing="0" class="line_table">
          <tr>
            <td width="7%" height="27" background="images/news-title-bg.gif"><img src="images/news-title-bg.gif" width="2" height="27"></td>
            <td width="93%" background="images/news-title-bg.gif" class="left_bt2">关于乐点</td>
          </tr>
          <tr>
            <td height="102" valign="top">&nbsp;</td>
            <td height="102" valign="top"><label></label>
              <label>
              <textarea name="textarea" cols="48" rows="8" class="left_txt">一、乐点创意科技有限公司是一家专注于企业形象、品牌宣传；致力于企业网站建设、虚拟主机、域名注册、服务器托管和网上业务推广的专业网络服务公司。
二、为不同行业的企业提供网站建设、网络营销、推广等专业服务！
三、我们追求技术的精湛和视觉的完美，在整个网站中突出您的企业建设理念和产品形象,让您的企业在目前激烈的商业竞争中脱颖而出！
四、我们善于倾听和理解，保持有效的沟通和快速的反馈，运用专业和专注的精神来协助您塑造品牌，树立优秀的企业形象，创造企业在行业中的优势，建立长久的企业价值。

</textarea>
              </label></td>
          </tr>
          <tr>
            <td height="5" colspan="2">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="40" colspan="4"><table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
          <tr>
            <td></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td width="2%">&nbsp;</td>
        <td width="51%" class="left_txt"><img src="images/icon-mail2.gif" width="16" height="11"> 客户服务邮箱：Ldcykjhr@foxmail.com<br>
              <img src="images/icon-phone.gif" width="17" height="14"> 我们的网站：http://www.wuldcs.com</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td background="images/mail_rightbg.gif">&nbsp;</td>
  </tr>
  <tr>
    <td valign="bottom" background="images/mail_leftbg.gif"><img src="images/buttom_left2.gif" width="17" height="17" /></td>
    <td background="images/buttom_bgs.gif"><img src="images/buttom_bgs.gif" width="17" height="17"></td>
    <td valign="bottom" background="images/mail_rightbg.gif"><img src="images/buttom_right2.gif" width="16" height="17" /></td>
  </tr>
</table>
</body>
